[Unit]
Description=OrbitLab Sector DNS
After=network.target

[Service]
WorkingDirectory=/etc/coredns
ExecStartPre=/usr/bin/dnstool init
ExecStart=/usr/bin/coredns -conf=/etc/coredns/Corefile
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always
StandardOutput=append:/var/log/coredns.log
StandardError=append:/var/log/coredns.err.log

[Install]
WantedBy=multi-user.target